<% provide(:title, '找回密码') %>

<div class="main">
  <div class="span6 offset3">
	  <%=link_to image_tag("btn-pending.gif",:alt=>"查看邮箱"), '#muc.open_email', email: @mail.mail, class: "ajax-hash btn"%>
		<span class="blank30"></span>
  </div>
</div>
