<%=provide(:title, '新建分类')%>
<div class="main">
	<%=render 'admin/base/left_bar'%>
    <div class="span10">
      <!--Body content-->

	  <%= render "admin/static_types/tool_bar"%>

	  <span class="blank10"></span>
	  <%= render 'form' %>
  </div>
</div>




