<%=provide(:title, '新建分类')%>

<div class="row">
	<div class="col-md-2">
		<%=render "admin/base/left_bar"%>
	</div>
	<div class="col-md-10">
	  <%= render "admin/categories/tool_bar"%>
	  <span class="blank20"></span>
	  <%= render 'form' %>
	</div>
  </div>
</div>
