<% provide(:title, '首页') %>

<div class="row">
	<div>
		<%= render partial: 'path', locals: { cate: @category, title: '', type: 2 } %>
	</div>
	<div class="col-md-9">
		<%#=render "admin/base/left_bar"%>
		<div class="post_list">
			<ul>
			<% @posts.each do |d| %>
				<li>
					<span><%= link_to truncate(d.title, length: 25), post_path(d) %></span>
				</li>
			<%end%>
		</ul>
		</div>
	</div>
	<div class="col-md-3">
		<%=render "posts/right_bar"%>
	</div>
</div>
